<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Ice Cream" %></title>
    <%= stylesheet_link_tag "font-ahkioweb" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "jquery-3.2.1" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="nav">
      <div class="container">
        <% link_to 'http://www.icecreamonasunday.com', :class => "blog-title-link" do %>
          <h1 class="blog-title"><span class="blog-title-first-line">Ice Cream </span><br />on a Sunday</h1>
        <% end %>
        <ul class="nav-links">
          <li><%= link_to 'Home', '/index.html', :relative => true %></li>
          <li><%= link_to 'Recipes', '/recipes.html', :relative => true %></li>
          <li><%= link_to 'About', '/about.html', :relative => true %></li>
        </ul>
      </div>
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="container">
        <div class="first-row">
          <div class="links">
            <%= link_to 'Home', '/index.html', :relative => true %>
            <%= link_to 'Recipes', '/recipes.html', :relative => true %>
            <%= link_to 'About', '/about.html', :relative => true %>
          </div>
          <div class="social-media">
            Some social media stuff
          </div>
        </div>
        <div class="second-row">
          <p class="small">© Vendela Larsson 2017</p>
        </div>
      </div>
    </div>
  </body>
</html>
