---
pageable: true
per_page: 4
---

<div class="jumbo-feature">
  <div class="container">
    <% blog.articles.select{ |article| article.data.category == 'recipes' }[0...1].each do |article| %>
      <div class="illustration-wrapper">
        <img src="<%= article.data.illustration_tag %>" class="fadeIn" />
      </div>
      <div class="text-and-description">
        <article>
          <h1>
            <%= article.title %>
          </h1>
          <time><%= article.date.strftime('%B %e, %Y') %></time>

          <%= article.summary %>

          <a class="button top-margin-small" href="<%= article.url %>">Give. Me. The. Recipe.</a>
        </article>
      </div>
    <% end %>
  </div>
</div>

<div class="featured-flavors">
  <div class="container">
    <h2 class="section-header heading-background">Featured Flavors</h2>
    <div class="flavors">
      <% blog.articles.select{ |article| article.data.category == 'recipes' }[0...3].each do |article| %>
        <div class="flavor">
          <img src="<%= article.data.ingredients_tag %>" class="fadeIn" />
          <article class="article-link-bracket">
            <time><%= article.date.strftime('%B %e, %Y') %></time>
            <h3>
              <%= article.title %>
            </h3>

            <a class="button button-secondary" href="<%= article.url %>">Get Recipe</a>
          </article>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="featured-tip">
  <div class="container">
    <% blog.articles.select{ |article| article.data.category == 'tips' }[0...1].each do |article| %>
      <div class="title-and-summary">
        <h5><%= article.data.pre_title %></h5>
        <h2><%= article.data.title %></h2>
        <%= article.summary %>
        <a class="button top-margin-small" href="<%= article.url %>">Get More Tips</a>
      </div>
      <div class="illustration-wrapper">
        <img src="<%= article.data.illustration_tag %>" class="fadeIn" />
      </div>
    <% end %>
    <%= inline_svg("images/drawn-rule.svg", class: 'drawn-rule') %>
  </div>
</div>

<div class="latest-posts">
  <div class="container">
    <h2 class="section-header heading-background">Latest Posts</h2>
    <div class="posts">
      <% if paginate && num_pages > 1 %>
        <p>Page <%= page_number %> of <%= num_pages %></p>

        <% if prev_page %>
          <%= link_to 'Previous page', prev_page %>
        <% end %>
      <% end %>

      <% page_articles.each_with_index do |article, i| %>
        <div class="post">
          <img src="<%= article.data.illustration_tag %>" class="fadeIn" />
          <article class="article-link-bracket">
            <time><%= article.date.strftime('%B %e, %Y') %></time>
            <h3><%= article.title %> </h3>
            <a class="button button-secondary" href="<%= article.url %>">Read More</a>
          </article>
        </div>
      <% end %>

      <% if paginate %>
        <% if next_page %>
          <%= link_to 'Next page', next_page %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
